@import "tailwindcss";

@theme {
  --font-sans: "Inter", "system-ui", sans-serif;
  --font-display: "Outfit", "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-[#f8f9fa] text-gray-900 overflow-hidden;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-200 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
